@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Salsa", cursive;
}

.container {
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

.col {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.row {
  display: flex;
  justify-content: center;
}

#shuffle {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

button {
  margin: 5px;
  padding: 0.75rem;
  font-family: "Salsa";
}
