@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Salsa", cursive;
}

.container {
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 225%;
}

.col {
  width: 90px;
  height: 90px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.border-btm {
  border-bottom: 1px solid black;
}

.row {
  display: flex;
  justify-content: center;
}

#shuffle {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

button {
  margin: 5px;
  padding: 0.75rem;
  font-family: "Salsa";
}

.btn {
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 1rem;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 0.75rem;
}

.btn:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-shuffle {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 0.5rem;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin-bottom: 1rem;
}

.btn-shuffle:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

.btn-shuffle:active {
  position: relative;
  top: 1px;
}

@media (max-width: 450px) {
  .col {
    width: 60px;
    height: 60px;
  }

  .btn-shuffle {
    font-size: rem;
    padding: 0.75rem 1.5rem;
  }

  .btn {
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
  }
}
